.project__type-title {
  font-size: 22px;
  color: #707070;
  line-height: 30px;
  font-weight: medium;
}
.project__title {
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  padding-top: 10px;
  padding-left: 20px;
}
.project__languages {
  font-size: 12px;
  font-style: italic;
  line-height: 20px;
}
.project__wrapper {
  @extend %rounded-border-list;
}
.project__languages {
  padding: 20px;
}
.project__img-wrapper {
  border-top: 2px solid #707070;
}
.pink__container {
  display: flex;
  justify-content: center;
  align-items: center;
  float:right;
  color: white;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: #FF006D;
  width: 40px;
  height: 40px;
}
.pink-link {
  color: white;
  text-decoration: none;
}