.proud__wrapper {
  @extend%rounded-border-list;
}
.proud__item {
  @extend%list-item;
  padding: 10px 20px;
  font-size: 13px;
  color: #707070;
  font-style: italic;
  line-height: 22px;
  display: flex;
  flex-direction: column;
}
.proud__title {
  font-size: 22px;
  color: #707070;
  line-height: 30px;
  font-weight: medium;
}
.proud__date {
  font-style: 12px;
  font-weight: bold;
  font-style: none;
  align-self: flex-end;
  padding-bottom: 10px;
}
