- var sectionTitle= data.proud.sectionTitle
include ../section-title/section-title.pug
.column(span="row" height="10")
.column(span="row")
  h3.proud__title=data.proud.title
.column(span="row")
.column(span="row" height="10")
.column(span="row")
  .proud__wrapper
    each proud in data.proud.proudList
      .proud__item
        .proud__date=proud.date
        .proud__text=proud.text
.column(span="row" height="10")
.column(span="row" height="10")
  button.button__disc-green
    i.icon__arrow-down
.column(span="row")
.column(span="row" height="10")