.git__project-link-wrapper{
  @extend %top-bottom-border;
  padding: 20px;
  
  & .project-link{
    margin-left: 10px;
  }
}
.git__project-link {
  background-color: #1875F0;
  border-radius: 30px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  padding: 12px 20px 13px 40px;

  & .icon__github {
    font-size: 16px;
  }
}
.git__project-description {
  @extend %top-bottom-border;
  color: #707070;
  font-size: 14px;
  padding: 10px;
  line-height: 30px;

}
.git__project-commit {
  @extend %top-bottom-border;
  color: #707070;
  font-size: 16px;
  padding: 10px;
  line-height: 30px;

  .commit-text{
    margin-left: 5px;
  }
}
ul.git__project-commitList {
  list-style-type: none;
}
.git__checkbox {
  display: none;

  &:checked + .git__project-displayed .git__project-detailed {
  display: block;
  }
}
.git__checkbox:checked ~ .git__pink-icons {
  & .icon__info {
    display:none;
  }
  & .icon__cross{
    display:block;
  }
}
.git__project-percentage {
  @extend %top-bottom-border;
  padding: 10px;
}

.icon__cross{
  display:none;
}
.git__project-detailed {
  display:none;
}
.git__project-percentList {
  list-style-type: none;
  font-size: 14px;
  color: #707070;

  & li::before {
    content: "•";
    font-size: 25px;
    color: red;
    margin-right: 5px;
  }
}
.pink-container {
  display: flex;
  justify-content: center;
  align-items: center;
  float:right;
  color: white;
  // border-top: 2px solid #707070;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: #FF006D;
  width: 40px;
  height: 40px;
}

.git__project-displayed{
  @extend %rounded-border-list;
}
.git__project-title {
  font-size: 15px;
  font-weight: bold;
  color: #808080;
  line-height: 20px;
  margin: 10px;
}
.git__project-languages {
  font-size: 12px;
  margin: 10px;
  line-height: 20px;
  color:#707070;
  font-style: italic;;
}
.git__project-color-wrapper {
  display: flex;
}
.git__project-color-bar {
  display: inline-block;
}
.pug-brown {
  font-size: 1px;
  height: 5px;
  color: #4d3c26;
  background-color: #4d3c26;
}
.scss-pink {
  font-size: 1px;
  height: 5px;
  color: #FF006D;
  background-color: #FF006D;
}
.js-yellow {
  font-size: 1px;
  height: 5px;
  color: yellow;
  background-color: yellow;
}
.html-red{
  font-size: 1px;
  height: 5px;
  color: red;
  background-color: red;
}
.css-purple {
  font-size: 1px;
  height: 5px;
  color: purple;
  background-color: purple;
}
.stats__list {
  @extend %rounded-border-list;
}
.stats__item {
  display: flex;
  align-items: center;
  
  &:not(:first-child){
    
  }

  &:not(:last-child) {
    @extend %list-item;

  }
}

.stats__icon {
  margin: 10px;
}

.stats__content  {
  display:flex;
  flex-direction: column;
  margin: 10px;
  color: #707070;
  font-size: 13px;
  line-height: 22px;
}