.review__wrapper {
  display: flex;
  flex-direction: row;
}
.review__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review__avatar {
  border-radius: 50%;
  margin: 0px 20px 20px 20px;
}
.review__name{
  font-size: 22px;
  line-height: 30px;
  font-weight: medium;
  color: #808080;
}
.review__date {
  color: #1875F0;
  font-size: 14px;
  line-height: 20px;
  font-weight: medium;
  padding-bottom: 20px;
}
.review__text {
  font-size: 14px;
  line-height: 30px;
  font-weight: medium;
  color: #808080;
  padding: 20px;
}
.review__text {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.45);
  border-radius: 6px;
  background-color: #fff;
  margin-top: 1rem;
  padding: 30px 20px;
  font-size: 14px;
  font-weight: medium;
  line-height: 30px;
  position: relative;
  color: #707070;

  &::after {
    content: "";
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.45);
    width: 15px;
    height: 15px;
    top: -7px;
    left: 15px;
    clip-path: polygon(-6px -6px,100% 0, 0 100%);
    transform: rotate(45deg);
  }
}