.column(span="row")
  .section__title-wrapper
    .section__title Welcome to my CV
.column(span="row")
  button.button__disc-red
    i.icon__youtube
.column(span="row")
  h1.about-me__main-title Valentina Vanu
.column(span="row")
  h2.about-me__sub-title Junior Web Developer
.column(span="row")
  h2.about-me__lead-title About Me
.column(span="row")
  .description-box__with-shadow
    p.description I make the Front-End world a better place every day. I translate geek into English and my passion is to innovate and design for the future.
    p.description I’m a proud mentor that helps the masses through CodeTap Academy to jump-start their web developer career and my help reached millions face to face and online.
.column(span="row")
  button.pill
    i.icon__download
    span.button-text Click to Download
.column(span="row")
  button.button__disc-green
    i.icon__arrow-down
